body {
  padding: 0;
  margin: 0;
}

.header {
  padding: 12px;
  border-bottom: 1px solid lightgray;
  width: 100%;
}

h3 {
  font-family: "Open Sans", sans-serif;
  padding: 7px;
  margin: 0;
  margin-left: 10px;
}

.logo-link {
  text-decoration: none;
  color: black;
}
