<div class="header">
  <div class="logo" routerLink="/">
    <img src="../../assets/synergy_logo.png" />
    <h3 class="link">Synergy</h3>
  </div>
  <div class="login-links">
    <p routerLink="profile">profile</p>
    <span class="link" routerLink="/employee-survey" routerLinkActive="active"
      ><i class="fas fa-user"></i>
      <p>User</p>
    </span>
    <span
      class="link"
      routerLink="/employer-dashboard"
      routerLinkActive="active"
      ><i class="fas fa-user-cog"></i>
      <p>Admin</p>
    </span>
  </div>
</div>
