<!-- modal text input for notes -->
<div *ngIf="modalDisplay && activeTeam" class="whole-page">
  <div class="modal-window">
    <p class="close-btn" (click)="closeModal()"><i class="fas fa-times"></i></p>
    <form *ngIf="modalDisplay">
      <p>{{ activeTeam.name }}</p>
      <label for="notes">Notes:</label>
      <textarea [(ngModel)]="notesText" name="notes" id="notes" cols="30" rows="10" required></textarea>
      <div class="btn-container">
        <button type="button" (click)="postNote()" class="add-notes-btn">
          Add Notes
        </button>
      </div>
    </form>
  </div>
  <div *ngIf="overlayDisplay" class="overlay"></div>
</div>

<h3>Team Dashboard</h3>
<section class="saved-teams" *ngIf="savedTeams">
  <p class="instructions">
    Select a team:
  </p>
  <form>
    <select class="form-control dropdown" [(ngModel)]="activeTeam" name="teamSelection" #team>
      <option *ngFor="let team of savedTeams" [ngValue]="team">
        {{ team.name }}
        {{ team.teamType }}
      </option>
    </select>
  </form>
</section>
<div class="displayed-team">
  <p *ngIf="activeTeam" class="active-team-name">{{ activeTeam.name }}</p>
  <div *ngIf="activeTeam">
    <div class="team-container created-team">
      <div *ngFor="let slot of activeTeam.members" class="member-slot">
        <!-- <div class="cardBanner"></div> -->
        <img class="sm-headShot" [src]="getSrcLink(slot)" alt="" />
        <div [ngClass]="getPersonalityClass(slot)" class="profileText">
          <p>{{ slot.name }}</p>
          <p>{{ slot.dominantPersonality }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-container" *ngIf="activeTeam">
    <button (click)="loadModal()" class="add-notes-btn">
      Add/Edit Notes <i class="far fa-edit"></i>
    </button>
  </div>
</div>