* {
  font-family: "Open Sans", sans-serif;
}

.member-slot {
  margin: 2px;
  transition: all 0.5s ease;
  width: 90%;
  display: flex;
  margin-bottom: 5px;
}

.profileText {
  font-family: sans-serif;
  width: 100%;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profileText p {
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
  padding: 0;
  margin: 3px;
  margin-left: 15px;
}

.team-container {
  width: 100%;
  position: relative;
  /* overflow-x: auto; */
  /* overflow-y: auto; */
  display: flex;
  flex-direction: column;
  /* height: 400px; */
  height: auto;
  margin: auto;
  align-items: center;
  padding-bottom: 10px;
}

h3 {
  margin-top: 15px;
  margin-bottom: 10px;
  margin-left: 20px;
}

textarea {
  margin-bottom: 15px;
  margin-top: 15px;
  border-radius: 5px;
  border-style: none;
  background-color: rgb(233, 227, 227);
}

.saved-teams {
  margin-top: 15px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  width: 75%;
  /* height: 100%; */
}

.instructions {
  margin: 0;
  margin-bottom: 5px;
}

.sm-headShot {
  width: 25%;
}
.sm-name {
  width: 75px;
}
.sm-name p {
  font-size: 15px;
  color: white;
}
.selected-team {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(236, 232, 232); */
  border-radius: 3px;
  width: 80vw;
  position: relative;
}

form:hover {
  border-color: #f26322;
}

#answer {
  border: none;
  background-color: rgb(233, 227, 227);
  border-radius: 5px;
  padding: 5px;
}

.add-notes-btn {
  margin: 0 auto;
  padding: 10px;
  border-style: none;
  background-color: #fd9c3c;
  border: 2px solid #fd9c3c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  /* align-self: flex-start; */
  width: 90%;
  margin-bottom: 20px;
}
.btn-container {
  display: flex;
  justify-content: center;
}

.active-team-name {
  margin-left: 20px;
  font-size: 16px;
  font-weight: bold;
}

.modal-window {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 15px;
  background-color: white;
  border-radius: 5px;
  z-index: 2;
  width: 80%;
  height: auto;
  position: relative;
}
.overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.8);
  /* filter: blur(5px); */
}
.whole-page {
  height: 80vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 20px;
  cursor: pointer;
  z-index: 3;
}

.saved-team-btn {
  width: auto;
  padding: 8px;
  cursor: pointer;
  font-size: 15px;
  margin-bottom: 5px;
}

.saved-team-btn i {
  margin-left: 5px;
}

.dropdown {
  padding: 8px;
  border-radius: 3px;
}

.notes-text{
  margin: 15px;
}

.notes-heading{
  margin: 15px;
}

@media screen and (min-width: 768px) {
  form {
    width: auto;
  }
  .header {
    font-size: 25px;
  }
  .add-notes-btn {
    width: auto;
    margin-bottom: 15px;
  }
  .modal-window {
    width: 600px;
    height: auto;
  }
  .member-slot {
    width: auto;
    display: block;
    margin-bottom: 3px;
  }
  .sm-headShot {
    width: 100%;
  }
  .team-container {
    flex-direction: row;
    justify-content: flex-start;
  }
  .active-team-name {
    margin: 0;
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .profileText {
    width: auto;
    display: block;
  }
  .profileText p {
    margin-left: 0px;
  }
  .displayed-team {
    display: inline-flex;
    text-align: center;
    flex-direction: column;
    width: auto;
    margin-left: 15px;
  }
  .dropdown {
    width: 400px;
    margin-bottom: 15px;
  }
}
