<div *ngIf="modalDisplay" class="whole-page">
  <div class="modal-window">
    <div>
      <h3>Which type of account do you have?</h3>
    </div>
    <div class="btn-container">
      <button (click)="loadAdmin()" [routerLink]="['employer-dashboard']">
        Admin
      </button>
      <button (click)="loadUser()" [routerLink]="['employee-survey']">
        User
      </button>
    </div>
  </div>
  <div *ngIf="overlayDisplay" class="overlay"></div>
</div>

<section>
  <div class="landing-text">
    <h1>Build the perfect team</h1>
    <h3>
      Synergy uses AI tools to help you create optimized teams for any project
    </h3>
    <button class="start-btn" (click)="loadModal()">Get Started</button>
  </div>
  <img src="../../assets/team.png" />
</section>
