<div *ngIf="modalDisplay" class="whole-page">
  <div class="modal-window">
    <p class="close-btn" (click)="closeModal()"><i class="fas fa-times"></i></p>
    <div class="modal-btns">
      <div>
        <h3>Ready to start building?</h3>
      </div>
      <div class="btn-container">
        <button (click)="loadUser()" [routerLink]="['employee-survey']">
          Sign in as User
        </button>
        <button (click)="loadAdmin()" [routerLink]="['employer-dashboard']">
          Sign in as Admin
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="overlayDisplay" class="overlay"></div>
</div>

<section>
  <div class="landing-text">
    <h1>Build the perfect team</h1>
    <h3>
      Synergy uses AI tools to help you create optimized teams for any project
    </h3>
    <button class="start-btn" (click)="loadModal()">Get Started</button>
  </div>
  <img src="../../assets/team.png" />
</section>
