#button-section {
  border: 1px solid black;
  padding: 10px;
}

.hide {
  display: none;
}

app-employee-banner{
  height: 20vh;
  overflow: auto;
  
}

.slots-container {
  display: flex;
  justify-content: space-around;
}

.member-slot {
  border: 1px solid black; 
}