* {
  font-family: "Open Sans", sans-serif;
}

.instructions {
  align-self: flex-start;
}

main {
  display: flex;
  font-family: "Open Sans", sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}
.btn {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  /* width: 100%; */
  /* align-items: center; */
  /* margin-right: 3px; */
  /* text-align: flex-start; */
}
a {
  width: 175px;
  padding: 5px;
  background-color: #fd9c3c;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
}
h4 {
  font-size: 20px;
  margin: 5px;
  padding-top: 10px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}

#instructional-copy {
  padding-left: 15px;
  margin-bottom: 25px;
}

.profileText p {
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
  padding: 0;
  margin: 3px;
  margin-left: 15px;
}

.profile {
  margin: 2px;
  transition: all 0.5s ease;
  width: 90%;
  display: flex;
  margin-bottom: 5px;
}

.profile:hover {
  transform: scale(1.1);
  cursor: pointer;
}

/* display: initial */
.cardBanner {
  background-color: #fd9c3c;
  height: 0px;
  /* height: 30px; */
  /* display: none; */
}

/* display: initial */
.headShot {
  /* display: none; */
  width: 25%;
}

.profileText {
  font-family: sans-serif;
  width: 100%;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media screen and (min-width: 768px) {
  .headShot {
    display: initial;
    width: 100%;
  }
  .profile {
    width: auto;
    display: block;
    margin-bottom: 3px;
  }
  .profileText {
    width: auto;
    display: block;
  }
  .cardBanner {
    display: block;
  }
  .profileText p {
    margin-left: 0px;
  }
}
