main {
  display: flex;
  font-family: "Open Sans", sans-serif;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5px;
}
.btn {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 200px;
  height: 300px;
  align-items: center;
  margin-right: 3px;
  text-align: center;
}
a {
  width: 175px;
  padding: 5px;
  background-color: #fd9c3c;
  color: white;
  border-style: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
}
h4 {
  font-size: 20px;
  margin: 5px;
}

p {
  font-size: 15px;
  padding-bottom: 10px;
}
.profile {
  margin: 2px;
  transition: all 0.5s ease;
}
.profile:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.cardBanner {
  background-color: #fd9c3c;
  height: 30px;
}

.profileText {
  font-family: sans-serif;
  width: 200px;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
}
p {
  margin: 3px;
  text-align: center;
}
