<section id="instructional-copy">
  <h3>Employee Profiles</h3>
  <p class="instructions">
    When you're ready to start building:
  </p>
  <div class="btn">
    <!-- <h4>Employee Dashboard</h4> -->
    <!-- <h3>Optimizing a team is easy.</h3> -->
    <!-- <p>Select an employee to view details.</p> -->
    <!-- <p>When you're ready to start building:</p> -->
    <a routerLink="/team-builder" routerLinkActive="active">Build A Team</a>
  </div>
</section>

<main>
  <div class="profile" *ngFor="let employee of employeeList">
    <div class="cardBanner"></div>
    <img
      class="headShot"
      [src]="employee.headShot ? employee.headShot : defaultAvatar"
      alt=""
    />
    <div [ngClass]="[employee.dominantPersonality]" class="profileText">
      <p>{{ employee.name }}</p>
      <p>{{ employee.dominantPersonality }}</p>
    </div>
  </div>
</main>
