<main class="slider">
  <!-- <div class="slide active">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Kelsey Drivinski.jpeg" alt="" />
    <div id="openness" class="profileText">
      <p>Kelsey Drivinski</p>
      <p>Openness</p>
    </div>
  </div>
  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Dewan Burson.jpeg" alt="" />
    <div id="neuroticism" class="profileText">
      <p>Dewan Burson</p>
      <p>Neuroticism</p>
    </div>
  </div>
  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Dequan Chambers.jpeg" alt="" />
    <div id="agreeableness" class="profileText">
      <p>Dequan Chambers</p>
      <p>Agreeableness</p>
    </div>
  </div>
  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Emily Biegas.jpeg" alt="" />
    <div id="agreeableness" class="profileText">
      <p>Emily Biegas</p>
      <p>Agreeableness</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Laura Xu.jpeg" alt="" />
    <div id="neuroticism" class="profileText">
      <p>Laura Xu</p>
      <p>Neuroticism</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Alicia Martin.jpeg" alt="" />
    <div id="conscientiousness" class="profileText">
      <p>Alicia Martin</p>
      <p>Conscientiousness</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Casey Yeager.jpeg" alt="" />
    <div id="openness" class="profileText">
      <p>Casey Yeager</p>
      <p>Openness</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Tyler Weiss.jpeg" alt="" />
    <div id="openness" class="profileText">
      <p>Tyler Weiss</p>
      <p>Openness</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Denna Bellman.jpeg" alt="" />
    <div id="agreeableness" class="profileText">
      <p>Denna Bellman</p>
      <p>Agreeableness</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Ali Hossein.jpeg" alt="" />
    <div id="openness" class="profileText">
      <p>Ali Hossein</p>
      <p>Openness</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Nicholas Ciarelli.jpeg" alt="" />
    <div id="neuroticism" class="profileText" v>
      <p>Nicholas Ciarelli</p>
      <p>Neuroticism</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Colin Sords.jpeg" alt="" />
    <div id="conscientiousness" class="profileText">
      <p>Colin Sords</p>
      <p>Conscientiousness</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Christian Christian.jpeg" alt="" />
    <div id="extraversion" class="profileText">
      <p>Christian Christian</p>
      <p>Extraversion</p>
    </div>
  </div>

  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Rion Nunez.jpeg" alt="" />
    <div id="conscientiousness" class="profileText">
      <p>Rion Nunez</p>
      <p>Conscientiousness</p>
    </div>
  </div>
  <div class="slide">
    <div class="cardBanner"></div>
    <img class="headShot" src="../../assets/Liam.jpeg" alt="" />
    <div id="extraversion" class="profileText">
      <p>Liam</p>
      <p>Extraversion</p>
    </div>
  </div> -->
  <div class="slide" *ngFor="let employee of employeeList">
    <div class="cardBanner"></div>
    <img class="headShot" [src]="employee.headShot ? employee.headShot : defaultAvatar" alt="" />
    <div id="extraversion" class="profileText">
      <p>{{ employee.name }}</p>
      <p>{{ employee.dominantPersonality }}</p>
    </div>
  </div>
</main>


<!--set width of div to be size of page  flex display no wrap overflow-X -->