<body>
  <!-- <img src="../../assets/form_img.png" /> -->
  <span class="form-header">
    <!-- <img class="form-icon" src="../../assets/personality icon.png" /> -->
    <i class="far fa-address-card"></i>
    <h2 class="header">
      Build your employee profile
    </h2>
  </span>
  <main class="main">
    <!-- <div class="inputDirective">
      <span class="nameText">Name: </span>
      <span class="answerText">Answer: </span>
    </div> -->
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <label for="employeeName">Name:</label>
      <input
        type="text"
        [(ngModel)]="employeeName"
        name="employeeName"
        id="employeeName"
        required
      />
      <label for="answer">Answer:</label>
      <textarea
        ngModel
        name="answer"
        id="answer"
        cols="30"
        rows="10"
        required
      ></textarea>

      <div class="btn-container">
        <button class="addInputButton">Next</button>
        <button
          class="getProfileButton"
          [ngClass]="{ enableProfilebutton: enoughData }"
          [disabled]="!enoughData"
          type="button"
          (click)="createProfile()"
        >
          Get Employee Profile
        </button>
      </div>
    </form>
  </main>
</body>
