<body>
  <!-- <img src="../../assets/form_img.png" /> -->
  <header class="form-header" *ngIf="!enoughData">
    <!-- <img class="form-icon" src="../../assets/personality icon.png" /> -->
    <i class="far fa-address-card"></i>
    <h2 class="header">
      Build your employee profile
    </h2>
  </header>
  <main class="main">
    <section *ngIf="nameFormActive" class="text-container">
      <!-- <p class="title">Some things to keep in mind:</p> -->
      <div class="why">
        <p class="bold-open">The Why</p>
        <p>
          If you've ever been on a team where personality dynamics have hindered
          team performance, you understand how the right mix of personalities
          can be critical to successful outcomes. Your employer will use the
          results of this survey to build teams optimized for a specific
          performance goal. The aim is to create well balanced teams where
          individuals are valued for the unique roles they naturally play on a
          team.
        </p>
      </div>
      <div class="we-know">
        <header>
          <i class="fas fa-user-shield"></i>
          <p class="bold-open">We Know</p>
        </header>
        <p>
          Privacy is critical. So your answers are never visible to your
          employers.
        </p>
      </div>
      <div class="an-ask">
        <p class="bold-open">An Ask</p>
        <p>
          To ensure accurate results answering honestly is important. The goal
          is to ensure you are placed on a team where you are best suited to
          thrive. With that aim in mind, you will be prompted to answer
          open-ended questions until a word count is reached that ensures
          accurate results. Please be as thorough as possible in your answers
          and use complete sentences.
        </p>
      </div>

      <form
        id="nameForm"
        #nameForm="ngForm"
        (ngSubmit)="onNameSubmit(nameForm)"
      >
        <label for="nameInput">Enter your full name to get started:</label>
        <input type="text" name="nameInput" id="nameInput" ngModel />

        <button class="submit-btn" type="submit">Submit</button>
      </form>
    </section>
    <form
      id="dataForm"
      #form="ngForm"
      (ngSubmit)="onSubmit(form)"
      *ngIf="surveyFormActive && !enoughData && !surveyError"
    >
      <!-- <label for="employeeName">Name:</label> -->
      <!-- <input type="text" [(ngModel)]="employeeName" name="employeeName" id="employeeName" required /> -->
      <p>Name: {{ employeeName }}</p>
      <p class="question-text">{{ questionArray[questionArrayIndex] }}</p>
      <label for="answer">Answer:</label>
      <textarea
        ngModel
        name="answer"
        id="answer"
        cols="30"
        rows="10"
        required
      ></textarea>

      <div class="btn-container">
        <button type="submit" class="addInputButton">Submit Answer</button>
        <!-- <button
          class="getProfileButton"
          [ngClass]="{ enableProfilebutton: enoughData }"
          [disabled]="!enoughData"
          type="button"
          (click)="createProfile()"
        >
          Get Employee Profile
        </button> -->
      </div>
    </form>
    <div class="survey-done" *ngIf="enoughData">
      <h3>Congratulations! Your survey is complete.</h3>
      <h4>You may now close out of this window.</h4>
      <img class="congrats-img" src="../../assets/form_img.png" />
      <!-- <p *ngIf="!profileBuilt">Now buidling your profile...</p>
      <div *ngIf="profileBuilt">Employee Profile Here</div> -->
    </div>
    <div class="survey-error" *ngIf="!enoughData && surveyError">
      <h3>Sorry, something went wrong.</h3>
      <h4>An admin will reach out with next steps.</h4>
      <!-- <p *ngIf="!profileBuilt">Now buidling your profile...</p>
        <div *ngIf="profileBuilt">Employee Profile Here</div> -->
    </div>
  </main>
</body>
