* {
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: white;
  height: auto;
}

.logo {
  width: 170px;
  margin: 0 auto;
  margin-bottom: 0px;
}
main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header {
  margin: 15 auto;
  color: #545454;
}
.bold-open {
  font-size: 1.5em;
  margin-bottom: 3px;
}
.text-container {
  position: relative;
  /* left: 80px; */
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 5px;
}
.title {
  font-size: 1.5em;
  color: #545454;
}
.why {
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 8px;
}
.we-know {
  width: 100%;
  background-color: #fd9c3c;
  text-align: center;
  color: white;
}
.an-ask {
  background-color: rgb(33, 33, 33);
  color: white;
  padding: 8px;
}
/* .inputDirective {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 5px;
} */
.nameText {
  color: #545454;
  margin-bottom: 10px;
}
#employeeName {
  border-radius: 5px;
  border: rgb(211, 211, 211);
  background-color: rgb(233, 227, 227);
  margin-bottom: 5px;
  padding: 10px;
}

.addInputButton {
  padding: 10px;
  border-style: none;
  background-color: #fd9c3c;
  border: 2px solid #fd9c3c;

  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  /* align-self: flex-start; */
  margin-top: 10px;
}
#nameForm {
  align-items: center;
}
form {
  display: flex;
  flex-direction: column;
  /* border: 1px solid rgb(236, 232, 232); */
  border-radius: 3px;
  width: 100%;
  position: relative;
}
#nameForm input {
  margin: 3px;
}

form:hover {
  border-color: #f26322;
}
.answerText {
  color: #545454;
}
#answer {
  border: none;
  background-color: rgb(233, 227, 227);
  border-radius: 5px;
  padding: 5px;
}

button {
  /* min-width: 150px;
  max-width: 250px;
  width: 300px;
  display: block;
  margin: 1em;
  padding: 1em 2em;
  /* border: none; */
  border: 1px solid #f26322;
  background-color: #fd9c3c;
  color: rgb(233, 227, 227);
  vertical-align: middle;
  position: relative;
  z-index: 1;
  border-radius: 3px;
  border: 1px solid #f26322;
  width: 100px;
  padding: 5px;
}

button:focus {
  outline: none;
}

/* button:hover {
  cursor: pointer;
} */

button > span {
  vertical-align: middle;
}

.getProfileButton {
  margin: auto;
  width: auto;
  padding: 5px;
  /* margin-top: 40px; */
  margin-top: 10px;
  margin-left: 10px;
  padding: 10px;
  border: 2px solid #fd9c3c;
  background-color: white;
  color: #fd9c3c;
  border-radius: 5px;
  font-size: 15px;
}

.enableProfilebutton {
  background-color: #fd9c3c;
  color: white;
  cursor: pointer;
}

img {
  margin-top: 40px;
  width: 200px;
}

h3 {
  padding-top: 25px;
}

label {
  margin-top: 5px;
  margin-bottom: 5px;
}

.form-icon {
  width: 40px;
  margin: 0;
  padding: 0;
  margin-right: 10px;
}

.form-header {
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding: 5px;
}

.form-header i {
  font-size: 35px;
  padding: 0;
  margin: 0;
  margin-right: 10px;
  color: #545454;
}

.btn-container {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

.congrats-img {
  width: 100%;
}
