* {
  font-family: "Open Sans", sans-serif;
}

.card-container {
  width: auto;
  height: 85vh;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.employee-details {
  width: 90%;
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headShot {
  width: 25%;
}

.chart-container {
  position: relative;
  display: block;
  padding: 10px;
  width: 85%;
  height: 40%;
  pointer-events: none;
  /* z-index: -1; */
}

.text-details p {
  margin: 0;
  margin-top: 3px;
  margin-bottom: 3px;
}

.profileText {
  font-family: sans-serif;
  width: 100%;
  color: #fff;
  padding-top: 3px;
  padding-bottom: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.profileText p {
  font-size: 15px;
  padding-bottom: 10px;
  text-align: center;
  padding: 0;
  margin: 3px;
  margin-left: 15px;
}

.profile {
  margin: 2px;
  width: 90%;
  display: flex;
  margin-bottom: 5px;
  margin-top: 10px;
}

.btn {
  width: auto;
  border-style: none;
  background-color: #fd9c3c;
  border-radius: 5px;
  font-size: 15px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 10px;
  cursor: pointer;
  color: white;
}

@media screen and (min-width: 768px) {
  .page {
    width: 75vh;
    margin: 0 auto;
  }
  /* .card-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  } */
  .chart-container {
    width: 600px;
    height: 400px;
  }
}
