<div class="page">
  <div class="card-container">
    <button routerLink="/employer-dashboard" class="btn">
      <i class="fas fa-arrow-left"></i> Back to List
    </button>

    <div class="profile">
      <img
        class="headShot"
        [src]="
          returnedEmployee.headShot ? returnedEmployee.headShot : defaultAvatar
        "
        alt=""
      />
      <div
        [ngClass]="[returnedEmployee.dominantPersonality]"
        class="profileText"
      >
        <p>{{ returnedEmployee.name }}</p>
        <p>{{ returnedEmployee.dominantPersonality }}</p>
      </div>
    </div>
    <div
      *ngIf="returnedEmployee.personalityProfile != undefined"
      class="chart-container"
    >
      <canvas
        baseChart
        [labels]="radarChartLabels"
        [datasets]="radarChartData"
        [options]="radarChartOptions"
        [chartType]="radarChartType"
      ></canvas>
    </div>
  </div>
</div>
